#myInput{
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 5px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myUL{
    list-style: none;
    padding: 0;
    margin: 0;
}

#myUL li a{
    border: 1px solid #ddd;
    margin-top: -1px;
    background: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
}

#myUL li a.header{
    background: #e2e2e2;
    cursor: default;
}

#myUL li a:hover:not(.header){
    background: #eee;
}